@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


html {
    font-family: 'Lora', serif;
    align-items: center;
    text-align: center;
    /* background-color: whitesmoke; */
    background: rgb(28,31,73);
background: linear-gradient(80deg, rgba(28,31,73,1) 0%, rgba(84,38,83,1) 54%, rgba(28,31,73,1) 100%);

    

}

 .circle-layout {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
 
 
}

.circle-left-first {
    width: 12em;
    height: 12em;
    background: linear-gradient(74deg, rgba(114,118,173,1) 0%, rgba(152,92,200,1) 23%, rgba(171,30,120,1) 100%);
    position: absolute;
    top: 9em;
    left: 12em;
  
}

.circle-left-first:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}



.circle-left-second {
    width: 6em;
    height: 6em;
    background: linear-gradient(40deg, rgba(114,118,173,1) 0%, rgba(175,92,200,1) 52%, rgba(171,30,120,1) 100%);
    position: absolute;
    top: 24em;
    left: 6em;
}

.circle-left-second:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  
  
}

.circle-left-third {
  width: 8em;
  height: 8em;
  background: linear-gradient(40deg, rgba(114,118,173,1) 0%, rgba(175,92,200,1) 52%, rgba(171,30,120,1) 100%);
  position: absolute;
  top: 54em;
  left: 8em;
}

.circle-left-third:hover {
-webkit-transform: scale(1.08);
transform: scale(1.08);


}

.circle-left-fourth {
  width: 10em;
  height: 10em;
  background: linear-gradient(40deg, rgba(114,118,173,1) 0%, rgba(175,92,200,1) 52%, rgba(171,30,120,1) 100%);
  position: absolute;
  top: 84em;
  left: 8em;
}

.circle-left-fourth:hover {
-webkit-transform: scale(1.08);
transform: scale(1.08);


}

.circle-right-first {
    width: 2em;
    height: 2em;
    background: linear-gradient(40deg, rgba(114,118,173,1) 2%, rgba(175,92,200,1) 44%, rgba(171,30,120,1) 69%);
    position: absolute;
    top: 34em;
    left: 78em;
}


.circle-right-first:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}



.circle-right-third {
    width: 7em;
    height: 7em;
    background: linear-gradient(40deg, rgba(114,118,173,1) 8%, rgba(200,92,198,1) 57%, rgba(171,30,120,1) 86%);
    position: absolute;
    top: 26em;
    left: 70em;
}

.circle-right-third:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}



.circle-right-fourth {
  width: 14em;
  height: 14em;
  background: linear-gradient(74deg, rgba(114,118,173,1) 0%, rgba(152,92,200,1) 48%, rgba(171,30,120,1) 100%); 
  position: absolute;
  top: 98em;
  left: 58em;
}

.circle-right-fourth:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  
  
}

@media only screen and (min-width: 601px){

  .form-background {
    
    display: block;
    position: absolute;
    border: 0px solid whitesmoke;
    border-radius: 1em;
    margin: auto;
    width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: linear-gradient(29deg, rgba(91,73,99,1) 0%, rgba(126,90,125,1) 0%, rgba(98,60,116,1) 99%);
    color: #b19eab;
    margin: auto;
    padding: auto;
    padding-top: 0.5em;
    padding-bottom: 4em;
    margin-top: 4em;
    margin-left: 20em ;
    outline: none;
    cursor: pointer;
  }

  .form-background {
    display: block;
    position: relative;
    margin-bottom: 5em;
    cursor: pointer;

  }
}

#survey-form {
     
    border: 3px solid #805494;
    margin: auto;
    width: 80%;
    text-align: left;
    padding: auto;
    padding-left: 2.8em;
    padding-top: 1.8em;
    font-size: larger;
   
}


input {
  padding: 12px;
  border: 0px solid #ccc;
  font-size: 0.8em;
  width: 60%;
  font-weight: 600;
  color: rgb(146, 50, 117);
  border-radius: 4px;
  box-sizing: border-box;
  letter-spacing: 1px;
  outline: none;
  background-color: #b19eab;
  
 
}
:focus {
  border: rgb(103, 233, 233);
}

input::-webkit-input-placeholder {
  color: #ccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
 
}

input[type="text"]::selection {
  
  color: rgb(146, 50, 117);
  text-transform: rgb(146, 50, 117);
  background-color: #b19eab ;
}

input[type="radio"] {
  width: auto;
}

input[type="checkbox"] {
  width: auto;
}


input:focus { 
  outline: none !important;
  border-color: #9064a5;
  box-shadow: 0 0 1em #9064a5;
}

.personal-info {
line-height: 1.6;
padding-top: 1em ;
}

/* --CHECKBOX DESIGN STARTS-- */
.select {
  width: 60%;
  height: inherit;
  display: inline-block;
  /* font-size: inherit; */
  font-family: 'Lora', serif;
  font-style: inherit;
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(146, 50, 117);
  border-radius: 4px;
  margin: auto;
  padding: 9px;
  border: none;
  outline: none;
  background-color: #b19eab;

  
}

/* CHECKBOX DESIGN ENDS */

/*  --RADIO DESIGN STARTS--*/

.radio-design input[type="radio"]{
  
  display: none;
  
}

.radio-design input[type="radio"] + .common-label{
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.radio-design input[type="radio"] + .common-label:before,
.radio-design input[type="radio"] + .common-label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.radio-design input[type="radio"] + .common-label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em #b19eab, inset 0 0 0 1em #b19eab;
}
.radio-design input[type="radio"] + .common-label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.3em #b19eab, inset 0 0 0 1em #553c4d;
}
.radio-design input[type="radio"]:checked + .common-label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em #b8a6b3, inset 0 0 0 1em rgb(146, 50, 117);
}



/* --RADIO DESIGN ENDS-- */


/* --CHECKBOX DESIGN STARTS-- */
 

 
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  height: 1.15em;
  width: 1.15em;
  background-color: #b8a6b3;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  outline: none;
  
}

.checkbox-label {
  
position: absolute;
margin-top: 2px;
margin-left: 4px;

}



input[type=checkbox]:checked::after {
  content: "\2713";
  font-size: larger;
  font-weight: 900 ;
  text-align: center;
  position: absolute;
  
  
 
 
}




/* --CHECKBOX DESIGN ENDS-- */


.textarea-wrapper {
  padding-top: 2em;
  
}

textarea {
  outline: none;
  background-color: #b19eab;
  color: rgb(146, 50, 117);
  font-style: inherit;
  font-size: 1.2em;
  overflow: visible;
  border-radius: 4px;
  border: none;
  
}

textarea::placeholder {
  
  color: #ccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.button-wrapper {
  padding-top: 4em;
  padding-left: 18em;
  padding-bottom: 3em;
}


.dropdown {
  padding-top: 1em;
}

h1 {
    font-size: 2.5em;
    cursor: pointer;
  }


#description {
  font-size: large;
  padding-bottom: 2em;
}



.effect {
  display: block;
  margin-top: 0.2em;
}

.some-padding {
  margin: auto;
  padding-bottom: 0.5em;
}

.radio-padding {
  display: block;
  margin-top: 1.9em;
  margin-bottom: -1px;
  padding-bottom: 0.5em;

}

.checkbox-padding {
  display: block;
  padding-top: 0.1em;

}

textarea {
  width: 24em;
  height: 13em;
  
}

.submit-button:hover {
    background:linear-gradient(74deg, rgba(114,118,173,1) 0%, rgba(152,92,200,1) 23%, rgba(171,30,120,1) 100%);
    color: #553c4d;
}

@media only screen and (max-width: 601px){

 html {
  background: linear-gradient(29deg, rgba(91,73,99,1) 0%, rgba(126,90,125,1) 0%, rgba(98,60,116,1) 99%);
  color: #b19eab;
  
   
 }

 h1 {
    font-size: 2.8em;
 }

 #description {
  padding-top: 0.2em ;
   font-size: 1.4em;
 }

 .circle-layout {
   border: none;
   border-radius: none;
 }

 .circle-left-first, .circle-left-second, .circle-left-third, .circle-left-fourth, .circle-right-third, .circle-right-first, .circle-right-fourth {
   width: 0px;
   height: 0px;
   background: none;
  
 }

 #survey-form {
   margin-top: -1.2em;
   padding: auto;
   padding-left: 2em;
   padding-right: 1em;

 }

 .select {
   width: 80%;
   display: inline;
  font-size: large;
 }

 .radio-design {
   font-size: 1em;
 }


.some-padding {
   font-size: 1em;
}

  .box-design {
   font-size: larger;
   
 }

 input {
   width: 80%;
  display: inline;
  font-size: large;
 }

 
textarea {
  margin-left: -1em;
   width: 16em;
  height: 6em;
  
}

.submit-button {
  display: block;
  margin-right: 12em;
}

.button-wrapper {
  padding-top: 4em;
  padding-left: 1em;
  padding-bottom: 3em;
  display: block;
  text-align: center;
}
  
}

